# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Datasets & ML Models
ml-backend/dataset_1/
ml-backend/models/*.pkl
*.csv
*.zip

# OS Specific
.DS_Store
Thumbs.db

# STM32CubeIDE Build Folders
firmware/**/Debug/
firmware/**/Release/

# Object files and executables
*.o
*.elf
*.bin
*.hex
*.map
*.list
*.su

# IDE specific settings you don't want to track
*.launch
**/.metadata/
